@model IEnumerable<CBA.Core.Implementation.Loan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h1>
            <b>
                Loans
            </b>
        </h1>
    </div>
    <div class="option_span  col-md-offset-11 col-md-6 m-b-15">

        @Html.ActionLink("  Take Loan", "Index", "CustomersAccount", null, new { @class = "fa fa-plus add_button bg_lightBlue m-b-10" })
    </div>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["Success"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

    </div>

}

@if (!Model.Any())
{
    <p>We don't have any Loans yet</p>
}
else
{


    <table id="table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Date</th>
                <th> Amount</th>
                <th> Amount Due</th>
                <th>Narration</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>
                    <td>@loan.Name</td> 
                    <td>@loan.AccountNumber</td>
                    <td>@loan.StartDate</td>
                    <td>@Html.DisplayFor(a => loan.LoanAmount)</td>
                    <td>@Html.DisplayFor(a => loan.LoanAmountRemaining)</td>
                    <td>@loan.Narration</td>
                    <td>
                        <div class="option_span pull-left">
                            @Html.ActionLink(" ", "Details", "Loan", new { id = loan.CustomerAccountId }, new { @class = "fa fa-eye table_extra" })
                        </div>
                    </td>




                </tr>

            }
        </tbody>
    </table>

}
