@model IEnumerable<CBA.Core.Implementation.Loan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loans</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["Success"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

    </div>

}

@if (!Model.Any())
{
    <p>We don't have any Loans yet</p>
}
else
{


    <table id="customersAccount" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Date</th>
                <th> Amount</th>
                <th> Amount Due</th>
                <th>Narration</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>
                    <td>@loan.Name</td> 
                    <td>@loan.AccountNumber</td>
                    <td>@loan.StartDate</td>
                    <td>@Html.DisplayFor(a => loan.LoanAmount)</td>
                    <td>@Html.DisplayFor(a => loan.LoanAmountRemaining)</td>
                    <td>@loan.Narration</td>
                    <td>@Html.ActionLink("View", "Details", "Loan", new{id = loan.CustomerAccountId}, null)</td>



                </tr>

            }
        </tbody>
    </table>

}
@section ViewSpecificJavascript{
    <script>
        $(document).ready(function () {
            $("#customersAccount").DataTable();
        });

    </script>
}


