@model CBA.Core.Implementation.Loan
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <a href="@Url.Action("Details", "Loan", new { id = Model.CustomerAccount.Id })">@TempData["error"] <span class="closebtn " onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
            <span>(Click Here to Review)</span>
            </a>
        
    </div>
}
@if (TempData["ConfigError"] != null)
{
    <div class="alert alert-error">
        <a href="@Url.Action("LoanAccount", "AccountTypeConfig")">@TempData["ConfigError"] <span class="closebtn" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
            <span>(Click Here to Review)</span>
            </a>
       
    </div>
}
<div class="col-md-12 m-b-10">
    <h1>
        <b>
            Take Loan
        </b>
    </h1>
</div>



@using (Html.BeginForm("Save", "Loan"))
{

    <div class=" form-signin">

        <div class="form-group  ">
            <label>Account Name</label><br />
            <div class="input-group shadow_p">
                <div class="input-group-addon borderless_right ">
                    <i class="fa fa-user width_30 "></i>
                </div>
                <div class="form_details ">
                    @Html.DisplayTextFor(m => m.CustomerAccount.AccountName)

                </div>
            </div>
        </div>

        <div class="form-group ">
            <label>Loan Amount</label><br />

            <div class="input-group shadow_p">
                <div class="input-group-addon borderless_right  ">
                    <i class="fa fa-money width_30 "></i>
                </div>
                @Html.TextBoxFor(m => m.LoanAmount, new { @class = "form-control", required = "required", min = "2000", Type = "number", step = "any" })
                @Html.ValidationMessageFor(m => m.LoanAmount)
            </div>
        </div>



        <div class="form-group">
            <label>Duration in Month(s)</label>
            <div class="input-group shadow_p">
                <div class="input-group-addon borderless_right  ">
                    <i class="fa fa-exchange width_30 "></i>
                </div>
                @Html.TextBoxFor(m => m.DurationInMonths, new { @class = "form-control", required = "required", Type = "number", step = "any", min = "1" })
                @Html.ValidationMessageFor(m => m.DurationInMonths)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Narration)
            <div class="input-group shadow_p">
                <div class="input-group-addon borderless_right  ">
                    <i class="fa fa-ellipsis-h width_30 "></i>
                </div>
                @Html.TextBoxFor(m => m.Narration, new { @class = "form-control", required = "required", placeholder = "Enter Reason" })
                @Html.ValidationMessageFor(m => m.Narration)

            </div>

        </div>
        <input type="hidden" name="customerId" value="@Model.CustomerAccount.Id" />
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>

    </div>
}

