@model IEnumerable<CBA.Core.Implementation.Teller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h1>
            <b>
                Till Accounts
            </b>
        </h1>
    </div>
    <div class="option_span  col-md-offset-11 col-md-6 m-b-15">

        @Html.ActionLink("  Add Teller ", "Index", "Users", null, new { @class = "fa fa-plus add_button bg_lightBlue m-b-10" })
    </div>
</div> 
@if (!Model.Any())
{
    <p>We don't have any Users yet</p>
}
else
{
    if (Session["Role"].ToString() == "Admin")
    {
      
        <table id="table" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Teller Name</th>
                <th>Till Account</th>
                <th>Till Account Balance</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var teller in Model)
            {
                <tr>
                    <td>@teller.User.FullName</td>
                    <td>@teller.GlAccount.Name</td>
                    <td>@Html.DisplayFor(a=>teller.GlAccount.Balance)</td>
                    <td>
                        <div class="option_span pull-left">
                            @Html.ActionLink(" ", "Details", "Tellers", new { id = teller.GlAccount.Id }, new { @class = "fa fa-eye table_extra" })
                            @Html.ActionLink(" ", "Delete", "Tellers", new { id = teller.Id }, new { @class = "fa fa-trash table_extra" })

                        </div>
                    </td>
                </tr>

            }
            </tbody>
        </table>
    }
}
