@using CBA.Core.Implementation
@model IEnumerable<CBA.Core.Implementation.CustomerAccount>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h1>
            <b>
                Customer Accounts
            </b>
        </h1>
    </div>
    <div class="option_span   col-md-offset-11 col-md-6 m-b-15">
        @Html.ActionLink("  Add Account", "Index", "Customers", null, new { @class = "fa fa-plus add_button bg_lightBlue m-b-10" })
    </div>
</div>

@if (!Model.Any())
{
    <p>We don't have any Accounts yet</p>
}
else
{
    if (Session["Role"] != null && Session["Role"].ToString() == "Admin")
    {

        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Branch</th>
                    <th>Account Type</th>
                    <th>Account Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customersAccount in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customersAccount.AccountName, "Edit", "CustomersAccount", new { id = customersAccount.Id }, null)</td>
                        <td>@customersAccount.AccountNumber</td>
                        <td>@customersAccount.Branch.Name</td>
                        <td>@customersAccount.AccountType</td>
                        <td>@Html.DisplayFor(a => customersAccount.Balance)</td>
                        <td>
                            <div class="option_span pull-left">
                                @Html.ActionLink(" ", "Edit", "CustomersAccount", new { id = customersAccount.Id }, new { @class = "fa fa-pencil table_extra" })
                                @Html.ActionLink(" ", "Details", "CustomersAccount", new { id = customersAccount.Id }, new { @class = "fa fa-eye table_extra" })
                            </div>

                            @if (!customersAccount.IsOpen && customersAccount.AccountType != AccountType.Loan)
                            {
                                <button data-customer-id="@customersAccount.Id" class=" btn btn-primary js-open pull-right">Open Account</button>
                            }
                            @if (customersAccount.IsOpen && customersAccount.AccountType != AccountType.Loan)
                            {
                                <a>@Html.ActionLink("Take Loan", "New", "loan", new { id = customersAccount.Id }, new { @class = "table_extra" })</a>
                                <button data-customer-id="@customersAccount.Id" class=" btn btn-danger js-delete pull-right">Close Account</button>

                            }

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
}
@section ViewSpecificJavascript{
    <script>
        $(document).ready(function () {


            $("#table").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/CustomersAccount/CloseAccount/" + button.attr("data-customer-id"),
                            method: "POST",
                            success: function (result) {
                                location.reload();
                            }
                        });
                    }
                });

            });

            $("#customersAccount").on("click", ".js-open", function () {
                var button = $(this);

                bootbox.confirm("Are you sure", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/CustomersAccount/OpenAccount/" + button.attr("data-customer-id"),
                            method: "POST",
                            success: function (result) {
                                location.reload();
                            }
                        });
                    }
                });

            });
        });

    </script>

}

