@model IEnumerable<CBA.Core.Implementation.CustomerAccount>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>We don't have any Accounts yet</p>
}
else
{
   
    <div class="top_info">Till Account Balance: @Math.Round(ViewBag.GlBalance, 2)</div>

        <table id="customersAccount" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customersAccount in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customersAccount.AccountName, "New", "TellerPosts", new { id = customersAccount.Id }, null)</td>
                        <td>@customersAccount.AccountNumber</td>
                        <td>@Html.DisplayFor(a=>customersAccount.Balance)</td>
                        <td>
                            <div class="option_span pull-left">
                                @Html.ActionLink(" Post", "New", "TellerPosts", new { id = customersAccount.Id }, new { @class = "fa fa-money table_extra" })

                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    
}
@section ViewSpecificJavascript{
<script>
    $(document).ready(function () {
        $("#customersAccount").DataTable();
           });

</script>


}
