@using CBA.Core.Implementation
@model IEnumerable<CBA.Core.Implementation.TellerPost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>We don't have any Posts yet</p>
}
else
{
    <div class="top_info">Till Account Balance: @Math.Round(ViewBag.GlBalance, 2)</div>

    <table id="customersAccount" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Account Name</th>
            <th>Account Number</th>
            <th>Date</th>
            <th>Debit Amount</th>
            <th>Credit Amount</th>
            <th>Narration</th>
           
        </tr>
        </thead>
        <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@Html.ActionLink(post.CustomerAccount.AccountName, "New", "TellerPosts")</td>
                <td>@post.CustomerAccount.AccountNumber</td>
                <td>@post.PostedAt</td>
                <td>@Html.DisplayFor(c => post.Amount)</td>
                <td>@Html.DisplayFor(c => post.Amount)</td>
                <td>@post.Narration</td>
                

            </tr>

        }
        </tbody>
    </table>
    
}
@section ViewSpecificJavascript{
    <script>
        $(document).ready(function () {
            $("#customersAccount").DataTable();
        });

    </script>


}