@model CBA.Core.Implementation.GlCategory
@{
    ViewBag.Title = "GlCategoryForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>


@using (Html.BeginForm("Save", "GlCategory"))
{

<div class=" form-signin">
    @if (Model.Id == 0)
    {
        <div class="text-center  mb-4">
            <h1>Add GL Category</h1>
        </div>
    }
    @if (Model.Id != 0)
    {
        <div class="text-center  mb-4">
            <h1>Edit GL Account Category</h1>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    
  
        <div class="form-group">

            @Html.LabelFor(m => m.MainAccountCategory)
            @if (Model.Id == 0)
            {
            @Html.EnumDropDownListFor(m => m.MainAccountCategory, "Select Main Account Category", new { @class = "form-control", required = "required" })
                @Html.ValidationMessage("mainGl", new {@class ="user-validation-error"})
            }
            @if (Model.Id != 0)
            {
                @Html.EnumDropDownListFor(m => m.MainAccountCategory, "Select Main Category", new { @class = "form-control", required = "required", disabled = "true"})

               
            }
        </div>
 
  
    <div class="form-group">
        @Html.LabelFor(m => m.Description)

        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>






    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>

</div>
}

