@model IEnumerable<CBA.Core.Implementation.GlAccount>
@{
    ViewBag.Title = "GL Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["message"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

    </div>
}

@if (!Model.Any())
{
    <p>We don't have any GL Accounts yet</p>
}

else
{

    if (Session["Role"].ToString() == "Admin")
    {

        <h2>GL Accounts</h2>
        <table id="accounts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Code</th>
                    <th>GL category</th>
                    <th>Branch</th>
                    <th>Balance</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(account.Name, "Edit", "GlAccounts", new { id = account.Id }, null)</td>
                        <td>@account.AccountCode</td>
                        <td>@account.GlCategory.Name</td>
                        <td>@account.Branch.Name</td>
                        <td>@account.Balance</td>

                        <td>
                            <button data-customer-id="@account.Id" class="btn-link js-delete">Delete</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }


}
@section ViewSpecificJavascript{
    <script>
        $(document).ready(function() {
            $("#accounts").DataTable();
            setTimeout(function() {
                    $(".alert-success").fadeOut(100, null);
                },
                3000);
        });

    </script>
}

