@model IEnumerable<CBA.Core.Implementation.GlAccount>
@{
    ViewBag.Title = "GL Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <h1>
            <b>
                Gl Account
            </b>
        </h1>
    </div>
    <div class="option_span  col-md-offset-11 col-md-6 m-b-15">

        @Html.ActionLink("  Add Account ", "New", "GlAccounts", null, new {@class = "fa fa-plus add_button bg_lightBlue m-b-10"})
        <span><b></b></span>
    </div>
</div>

@if (!Model.Any())
{
    <p>We don't have any GL Accounts yet</p>
}

else
{

    if (Session["Role"].ToString() == "Admin")
    {


        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Code</th>
                    <th>GL category</th>
                    <th>Branch</th>
                    <th>Balance</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model)
                {
                    <tr>
                        <td>@account.Name</td>
                        <td>@account.AccountCode</td>
                        <td>@account.GlCategory.Name</td>
                        <td>@account.Branch.Name</td>
                        <td>@Html.DisplayFor(a => account.Balance)</td>
                        <td>
                            <div class="option_span pull-left">
                                @Html.ActionLink(" ", "Edit", "GlAccounts", new { id = account.Id }, new { @class = "fa fa-pencil table_extra" })
                                @Html.ActionLink(" ", "Details", "GlAccounts", new { id = account.Id }, new { @class = "fa fa-eye table_extra" })
                                @Html.ActionLink(" ", "Delete", "GlAccounts", new { id = account.Id }, new { @class = "fa fa-trash table_extra" })
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }


}


