@using Microsoft.Ajax.Utilities
<header class="main-header bg-blue-gradient">
    @* BEGIN Logo *@
@if (Session["Role"] != null && (Session["Role"].ToString() == "Admin" ||Session["Role"].ToString() == "Super" ))
{
    <a href="@Url.Action("AdminDashboard", "Users")" class="logo bg-blue-gradient">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b><i class="fa fa-bank"></i></b></span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Moes</b>CBA</span>
    </a>
}
else
{
    <a href="@Url.Action("TellerDashboard", "Users")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Moes</b>CBA</span>
    </a>
}

    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN Messages *@

                @if (Session["setup"] != null)
                {
                    <li class="dropdown notifications-menu">
                        <a href="@Url.Action("SetupConfig", "BankConfig")"><i class="fa fa-link"></i> <span>Setup Bank </span></a>
                    </li>
                }
                @if (Convert.ToBoolean(Session["isBusinessOpen"]) && Session["isBusinessOpen"] != null)
                {
                    <li class="dropdown notifications-menu bg-red">
                        <a href="@Url.Action("CloseBusiness", "EOD")"><i class="fa fa-toggle-off"></i> <span>Close  Business </span></a>
                    </li>
                }
                @if (!Convert.ToBoolean(Session["isBusinessOpen"]) && Session["isBusinessOpen"] != null)
                {
                    <li class="dropdown notifications-menu bg_greenish">
                        <a href="@Url.Action("OpenBusiness", "EOD")"><i class="fa fa-toggle-on"></i> <span>Open  Business </span></a>
                    </li>
                    @*<li class="dropdown notifications-menu">
                <a href="@Url.Action("RunEOD", "EOD")"><i class="fa fa-link"></i> <span>Run EOD Business </span></a>
            </li>*@
                }
                @if (Session["FinancialDate"] != null)
                {
                    <li class="dropdown notifications-menu">


                        <a href="#"> <span> @Session["FinancialDate"].ToString().AsDateTime().ToShortDateString()</span></a>
                    </li>
                }


         
                @* BEGIN User Account Menu *@

                <li class="dropdown  user user-menu notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span> <img src="~/Content/img/man.png" class="user-image" alt="User Image"></span>
                        @Session["Username"]
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("ChangePassword", "Users")" class=""> <i class="fa fa-recycle "></i> Change Password</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("LogOut", "Account")" class=""> <i class="fa fa-sign-out "></i> Sign Out</a>

                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>

                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>