@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        @if (Session["Role"] != null && Session["Role"].ToString() == "Admin")
        { 
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "Users")">
                        <a href="@Url.Action("Index", "Users")"><i class="fa fa-link"></i> <span>View User</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("New", "Users")">
                        <a href="@Url.Action("New", "Users")"><i class="fa fa-link"></i> <span>Add User</span></a>
                    </li>
                   

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Teller Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "Tellers")">
                        <a href="@Url.Action("Index", "Tellers")"><i class="fa fa-link"></i> <span>View Tellers</span></a>
                    </li>
                   

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>GL Account Category</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "GlAccountCategory")">
                        <a href="@Url.Action("Index", "GlAccountCategory")"><i class="fa fa-link"></i> <span>View </span></a>
                    </li>
                    <li class="@Url.IsLinkActive("New", "GlAccountCategory")">
                        <a href="@Url.Action("New", "GlAccountCategory")"><i class="fa fa-link"></i> <span>Add </span></a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>GL Account</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "GlAccounts")">
                        <a href="@Url.Action("Index", "GlAccounts")"><i class="fa fa-link"></i> <span>View </span></a>
                    </li>
                    <li class="@Url.IsLinkActive("New", "GlAccounts")">
                        <a href="@Url.Action("New", "GlAccounts")"><i class="fa fa-link"></i> <span>Add </span></a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Customer</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("New", "Customers")">
                        <a href="@Url.Action("New", "Customers")"><i class="fa fa-link"></i> <span>Add </span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Customers")">
                        <a href="@Url.Action("Index", "Customers")"><i class="fa fa-link"></i> <span>View </span></a>
                    </li>
                </ul>
            </li>
        }
        <li class="@Url.IsLinkActive("Index", "CustomersAccount")">
            <a href="@Url.Action("Index", "CustomersAccount")"><i class="fa fa-link"></i> <span>Customers Account </span></a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span> Account Type Management</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Url.IsLinkActive("Index", "GlAccountCategory")">
                    <a href="@Url.Action("Index", "GlAccountCategory")"><i class="fa fa-link"></i> <span>Savings  </span></a>
                </li>
                <li class="@Url.IsLinkActive("New", "GlAccountCategory")">
                    <a href="@Url.Action("New", "GlAccountCategory")"><i class="fa fa-link"></i> <span>Current </span></a>
                </li>
                <li class="@Url.IsLinkActive("New", "GlAccountCategory")">
                    <a href="@Url.Action("New", "GlAccountCategory")"><i class="fa fa-link"></i> <span>Loans </span></a>
                </li>
            </ul>
        </li>
    </ul>
        

        @* END Menu *@
    </section>
</aside>