@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        
        @* BEGIN Menu *@
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header"><i class="fa fa-home"></i> <span><b>&nbsp; Dashboard</b></span></li>
            @if (Session["Role"] != null && Session["Role"].ToString() == "Admin")
            {
                <li class="@Url.IsLinkActive("Index", "Users")">
                    <a href="@Url.Action("Index", "Users")"><i class="fa fa-users"></i> <span>Users</span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Tellers")">
                    <a href="@Url.Action("Index", "Tellers")"><i class="fa fa-male"></i> <span>Teller Management</span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "GlCategory")">
                    <a href="@Url.Action("Index", "GlCategory")"><i class="fa fa-bars"></i> <span>GL Category </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "GlAccounts")">
                    <a href="@Url.Action("Index", "GlAccounts")"><i class="fa fa-bank"></i> <span>GL Account </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Customers")">
                    <a href="@Url.Action("Index", "Customers")"><i class="fa fa-group"></i> <span>Customers </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "CustomersAccount")">
                    <a href="@Url.Action("Index", "CustomersAccount")"><i class="fa fa-vcard"></i> <span>Customers Account </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Loan")">
                    <a href="@Url.Action("Index", "Loan")"><i class="fa fa-money"></i> <span>Loans </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "GlPosts")">
                    <a href="@Url.Action("Index", "GlPosts")"><i class="fa fa-envelope"></i> <span>GL Posting </span></a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tags"></i> <span> Account Management</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Url.IsLinkActive("SavingsAccount", "AccountTypeConfig")">
                            <a href="@Url.Action("SavingsAccount", "AccountTypeConfig")"> <span>Savings </span></a>
                        </li>
                        <li class="@Url.IsLinkActive("CurrentAccount", "AccountTypeConfig")">
                            <a href="@Url.Action("CurrentAccount", "AccountTypeConfig")"> <span>Current </span></a>
                        </li>
                        <li class="@Url.IsLinkActive("LoanAccount", "AccountTypeConfig")">
                            <a href="@Url.Action("LoanAccount", "AccountTypeConfig")"> <span>Loans </span></a>
                        </li>
                    </ul>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i> <span>Financial Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("BalanceSheet", "FinancialReport")">
                        <a href="@Url.Action("BalanceSheet", "FinancialReport")"> <span> Balance Sheet </span></a>
                    </li>
                    <li class="@Url.IsLinkActive("PLReport", "FinancialReport")">
                        <a href="@Url.Action("PLReport", "FinancialReport")"><span>P & L Report </span></a>
                    </li>
                      <li class="@Url.IsLinkActive("TrialBalance", "FinancialReport")">
                        <a href="@Url.Action("TrialBalance", "FinancialReport")"> <span>Trial Balance </span></a>
                    </li>

                </ul>
            </li>

           
        }
    @if (Session["Role"] != null && Session["Role"].ToString() == "Teller")
    {
        <li class="@Url.IsLinkActive("Index", "TellerPosts")">
            <a href="@Url.Action("Index", "TellerPosts")"><i class="fa fa-send"></i> <span>Post Transaction </span></a>
        </li>
        <li class="@Url.IsLinkActive("ViewPosts", "TellerPosts")">
            <a href="@Url.Action("ViewPosts", "TellerPosts")"><i class="fa fa-eye"></i> <span>View Posts </span></a>
        </li>
        <li class="@Url.IsLinkActive("BuyCash", "TellerPosts")">
            <a href="@Url.Action("BuyCash", "TellerPosts")"><i class="fa fa-bitcoin"></i> <span>Buy Money</span></a>
        </li>
        <li class="@Url.IsLinkActive("SellCash", "TellerPosts")">
            <a href="@Url.Action("SellCash", "TellerPosts")"><i class="fa fa-dollar"></i> <span>Sell Money </span></a>
        </li>
        
    }

    </ul>
        
    
        @* END Menu *@
    </section>
</aside>