@using System.Web.Mvc.Html
@model IEnumerable<CBA.Core.Implementation.GlPost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-6">
        <h1>
            <b>
                GL Posting
            </b>
        </h1>
    </div>
    <div class="option_span  col-md-offset-11 col-md-6 m-b-15">

        @Html.ActionLink("  New Post", "New", "GlPosts", null, new { @class = "fa fa-plus add_button bg_lightBlue m-b-10" })
    </div>
</div>

@if (!Model.Any())
{
    <p>We don't have any Users yet</p>
}
else
{
    if (Session["Role"].ToString() == "Admin")
    {
        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Debit Account Name</th>
                    <th>Debit Account Code</th>
                    <th>Amount to Debit</th>
                    <th>Credit Account Name</th>
                    <th>Credit Account Code</th>
                    <th>Amount to Credit</th>
                    <th>Narration</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.GlAccountToDebit.Name</td>
                    <td>@post.GlAccountToDebit.AccountCode</td>
                    <td>@Html.DisplayFor(a => post.Amount)</td>
                    <td>@post.GlAccountToCredit.Name</td>
                    <td>@post.GlAccountToCredit.AccountCode</td>
                    <td>@Html.DisplayFor(a => post.Amount)</td>
                    <td>@post.Narration</td>
                    <td>@post.PostedAt.ToShortDateString()</td>

                    <td>
                        <div class="option_span pull-left">
                            @Html.ActionLink(" ", "Details", "GlPosts", new { id = post.Id }, new { @class = "fa fa-eye table_extra" })
                        </div>
                    </td>


                </tr>

            }
            </tbody>
        </table>
    }
}

