@using WebHelpers.Mvc5
@model CBA.Core.ViewModels.AdminDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card ">

            <div class="dash_content">
                <h1 class="m-t-10 color_orange"><b>@Model.NumberOfCustomerAccounts</b></h1>

                <p> <b>Total Customer Accounts</b></p>
            </div>
            <a href="@Url.Action("Index", "CustomersAccount")" class="color_white">
                <div class="bar bg_orange ">
                    <p class="centerlise pull-left">Show All</p>
                </div>
            </a>
        </div>
       
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="dash_content">
                <h1 class="m-t-10 color_gren"><b>@Model.Profit</b></h1>

                <p> <b>Profit/Loss</b></p>
            </div>
            <a href="@Url.Action("PLReport", "FinancialReport")" class="color_white">
                <div class="bar bg_green ">
                    <p class="centerlise pull-left">Show Details</p>
                </div>
            </a>
        </div>
       
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="dash_content">
                <h1 class="m-t-10 color_lightBlue"><b>@Model.NumberOfGlAccounts</b></h1>
                <p> <b>Total GL Accounts</b></p>
            </div>
            <a href="@Url.Action("Index", "GlAccounts")" class="color_white">
                <div class="bar bg_lightBlue ">
                    <p class="centerlise pull-left">Show All</p>
                </div>
            </a>
        </div>
       
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="dash_content">
                <h1 class="m-t-10 color_darkCyan"><b>@Model.NumberOfLoans</b></h1>
                <p> <b>Total Loans</b></p>
            </div>
            <a href="@Url.Action("Index", "Loan")" class="color_white">
                <div class="bar bg_cyan ">
                    <p class="centerlise pull-left">Show All</p>
                </div>
            </a>
        </div>
       
    </div>
    
   @*<div col-md-6>
        </div>*@

</div>