@using System.Web.Optimization
@model CBA.Core.Implementation.User
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Bundles/css")
@using (Html.BeginForm("UpdatePassword", "Users"))
{

    <div class=" form-signin">
        <div class="text-center  mb-4">
            <h1>ChangePassword</h1>
        </div>
        @if (ViewBag.msg != null)
        {
            <div class=" alert alert-danger">
                <strong>@ViewBag.msg</strong>
            </div>
        }
        <div class="form-group">

            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "current password", required = "required" })
            @Html.ValidationMessage("PasswordIncorrect")
        </div>
        <div class="form-group">

            <input name="newPassword" type="password" placeholder="new password" class="form-control" required="required" />
            @Html.ValidationMessage("PasswordMismatch")
        </div>
        <div class="form-group">

            <input name="confirmPassword" type="password" placeholder="new password" class="form-control" required="required" />
            @Html.ValidationMessage("PasswordMismatch")
        </div>

     
        @Html.AntiForgeryToken()
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>

    </div>

}