@using CBA.Core.Implementation
@model CBA.Core.Implementation.BankConfiguration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    if (TempData["Error"].ToString().StartsWith("S"))
    {
      
        <div class="alert alert-danger">
            <a href="@Url.Action("SavingsAccount", "AccountTypeConfig")">@TempData["Error"] <span class="closebtn " onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                <span>(Click Here to Review)</span>
            </a>
        </div>
    }
    if (TempData["Error"].ToString().StartsWith("C"))
    {
      
        <div class="alert alert-danger">
            <a href="@Url.Action("CurrentAccount", "AccountTypeConfig")">@TempData["Error"] <span class="closebtn " onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                <span>(Click Here to Review)</span>
            </a>
        </div>
    }
    if (TempData["Error"].ToString().StartsWith("L"))
    {
      
        <div class="alert alert-danger">
            <a href="@Url.Action("LoanAccount", "AccountTypeConfig")">@TempData["Error"] <span class="closebtn " onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                <span>(Click Here to Review)</span>
            </a>
        </div>
    }
   
}

@if (Model == null)
{
    <div>Setup Bank Configurations</div>
}
else
{
    if (Model.IsBusinessOpen)
    {
        <div class="business_config">Business Is Open</div>
    }
    if (!Model.IsBusinessOpen)
    {
        <div class="business_config">Business Is Closed</div>
    }
}


