@model CBA.Core.ViewModels.PlViewModel
@{
    ViewBag.Title = "BalanceSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-bold text-center">P&L Report</h1>
<table class="table report table-borderless table-dark table-hover">
    <thead>
        <tr>
            <th class="col-md-6"><h2 class="badge-dark"></h2></th>
            <th>Schedule</th>
            <th>Year Ended (@Model.Date.ToString("dd-MMM-yyyy "))</th>
        </tr>
    </thead>
    <tbody>
    <tr class="bg_cyan">
        <td ><b>INCOME</b></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var report in Model.IncomeGls)
    {
    <tr>
        <td>@report.Name</td>
        <td></td>

        <td>@Math.Round(report.Balance,2)</td>
    </tr>
    }
    <tr class="bg_green">
        <td></td>
        <td><b>Total</b></td>
        <td >@Model.IncomeTotal</td>
    </tr>
    <tr class="bg_cyan">
        <td><b>Expense</b></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var report in Model.ExpenseGls)
    {
        <tr>
            <td>@report.Name</td>
            <td></td>

            <td>@Math.Round(report.Balance,2)</td>
        </tr>
    }
    <tr class="bg_cyan">
        <td></td>
        <td><b>Total</b></td>
        <td >@Model.ExpenseTotal</td>
    </tr>
   
    
    <tr class="bg_green">
        <td><b>Profit/Loss</b></td>
        <td><b>Total</b></td>
        <td><b>@Model.Profit</b></td>
    </tr>

  
    </tbody>
</table>
